* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-image: linear-gradient(#868b8e, #b9b7bd);
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  .btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
  }
  .btn-primary{
    background-color: blue;
  }
  .btn-danger{
    background-color: red;
  }
  .add-user{
    padding: 10px;
    border-radius: 5px;
    background-color: #868b8e;
    width: 50%;
    text-align: center;
    margin: 10px auto;
  }
  .add-user:hover{
    border: 1px solid #d4f1f4;
    color: black;
    background-color: #eeede7;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .container{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  table{
    text-align: center;
    border-collapse: collapse;
  }
  table, th, td{
    border: 1px solid black;
  }
  table th{
    padding: 15px 50px;
  }
